---
title: "Assignment 1"
format: 
  html:
    toc: true
    toc-title: Contents
    code-fold: show
    self-contained: true
jupyter: python3
---

## Instructions {-}

1. You may talk to a friend, discuss the questions and potential directions for solving them. However, you need to write your own solutions and code separately, and not as a group activity. 

2. Do not write your name on the assignment.

3. Write your code in the *Code* cells and your answer in the *Markdown* cells of the Jupyter notebook. Ensure that the solution is written neatly enough to understand and grade.

4. Use [Quarto](https://quarto.org/docs/output-formats/html-basics.html) to print the *.ipynb* file as HTML. You will need to open the command prompt, navigate to the directory containing the file, and use the command: `quarto render filename.ipynb --to html`. Submit the HTML file.

5. The assignment is worth 100 points, and is due on **6th October 2022 at 11:59 pm**.

# I
USA's GDP per capita from 1960 to 2021 is given by the tuple `T` in the code cell below. The values are arranged in ascending order of the year, i.e., the first value is for 1960, the second value is for 1961, and so on.

In [222]:
T = (3007, 3067, 3244, 3375,3574, 3828, 4146, 4336, 4696, 5032,5234,5609,6094,6726,7226,7801,8592,9453,10565,11674,12575,13976,14434,15544,17121,18237,19071,20039,21417,22857,23889,24342,25419,26387,27695,28691,29968,31459,32854,34515,36330,37134,37998,39490,41725,44123,46302,48050,48570,47195,48651,50066,51784,53291,55124,56763,57867,59915,62805,65095,63028,69288)

## I-1.
### I-1(a)
Use list comprehension to produce a list of the gaps between consecutive entries in `T`, i.e, the increase in GDP per capita with respect to the previous year. The list with gaps should look like: [60, 177, ...].

*(6 points)*

In [223]:
gap = [T[i+1]-T[i] for i in range(len(T)-1)]

### I-1(b)
Use the list comprehension developed in (a) to find the maximum gap size, i.e, the maximum increase in GDP per capita.

*(2 points)*

In [225]:
print("Maximum gap size = ", max(gap))

Maximum gap size =  6260

### I-1(c)
Use the list comprehension developed in (a) to find the percentage of gaps that have size greater than $1000.

*(5 points)*

In [224]:
print("Percentage of times the gap is greater than $1000=", 100*len([x for x in gap if x>1000])/len(T),"%")

Percentage of times the gap is greater than $1000= 51.61290322580645 %

## I-2 
### I-2(a)
Create a dictionary `D`, where the `key` is the year, and `value` for the `key` is the increase in GDP per capita in that year with respect to the previous year, i.e., the gaps computed in part (1). 

*(6 points)*

In [228]:
year = range(1961,2022)
D = {year[i]: gap[i] for i in range(len(year))}

### I-2(b)
Use the dictionary `D` to find the year when the GDP per capita increase was the maximum as compared to the previous year.

*(4 points)*

In [227]:
years_max_increase = [key for key, value in D.items() if value == max(D.values())]
print("Year(s) in which GDP per capita increase was maximum = ", years_max_increase)

Year(s) in which GDP per capita increase was maximum =  [2021]

### I-2(c)
Use the dictionary `D` to find the years when the GDP per capita decreased with respect to the previous year.

*(4 points)*

In [226]:
years_max_increase = [key for key, value in D.items() if value<0]
print("Year(s) in which GDP per capita decreased = ", years_max_increase)

Year(s) in which GDP per capita decreased =  [2009, 2020]

# II
## II-1
Read the [data](https://raw.githubusercontent.com/cwkenwaysun/TEDmap/master/data/TED_Talks.json) on ted talks from 2006 to 2017.

*(2 points)*

In [234]:
import pandas as pd
tedtalks_data = pd.read_json('https://raw.githubusercontent.com/cwkenwaysun/TEDmap/master/data/TED_Talks.json')

## II-2
Find the number of talks in the dataset.

*(2 points)*

In [231]:
print("Number of talks in the data = ",tedtalks_data.shape[0])

Number of talks in the data =  2474

## II-3 
Find the `headline`, `speaker` and `year` of the talk with the highest number of views.

*(5 points)*

In [232]:
print("For the talk with maximum views:\n", tedtalks_data.loc[tedtalks_data.views.argmax(),['headline','speaker','year_filmed']])

For the talk with maximum views:
 headline       Do schools kill creativity?
speaker                       Ken Robinson
year_filmed                           2006
Name: 59, dtype: object

##  II-4 
Do the majority of talks have less views than the average number of views for a talk? Justify your answer.

*(4 points)*

**Hint:** Print summary statistics for questions (4) and (5).

In [145]:
tedtalks_data.describe()

                id  month_filmed  year_filmed         views
count  2474.000000   2474.000000  2474.000000  2.474000e+03
mean   1433.782943      5.587712  2011.299515  1.747851e+06
std     797.970133      3.443934     3.665506  2.584138e+06
min       1.000000      1.000000  1972.000000  5.065300e+04
25%     768.250000      2.000000  2009.000000  7.703258e+05
50%    1451.500000      5.000000  2012.000000  1.151252e+06
75%    2118.750000      9.000000  2014.000000  1.748603e+06
max    2804.000000     12.000000  2017.000000  4.792402e+07

Yes, correct! This is because the median number of views (=1.51 million) are less than the mean number of views (=1.75 million).

## II-5 
Do at least 25% of the talks have more views than the average number of views for a talk? Justify your answer.

*(4 points)*

Yes, correct! This is because the 75th percentile of the number of views (=1.748 million) is higher than the mean number of views (=1.747 million).

## II-6 

### II-6(a)
The last column of the dataset consists of votes obtained by the talk under different categories, such as *Funny, Confusing, Fascinating, etc.* For each category, create a new column in the dataset that contains the votes obtained by the tedtalk in that category. Print the first 5 rows of the updated dataset.

*(20 points)*

In [236]:
tedtalks_data_with_votes = tedtalks_data.copy()
for row_num in range(len(rating)):
    for dict_i in rating[row_num]:
        tedtalks_data_with_votes.loc[row_num,dict_i['name']] = dict_i['count']
tedtalks_data_with_votes.head()

,id,speaker,headline,URL,description,transcript_URL,month_filmed,year_filmed,event,duration,...,Unconvincing,Longwinded,Informative,Inspiring,Fascinating,Confusing,OK,Persuasive,Jaw-dropping,Obnoxious
0,7,David Pogue,Simplicity sells,http://www.ted.com/talks/view/id/7,New York Times columnist David Pogue takes aim...,http://www.ted.com/talks/view/id/7/transcript?...,2,2006,TED2006,0:21:26,...,104.0,78.0,399.0,230.0,166.0,27.0,146.0,230.0,54.0,142.0
1,6,Craig Venter,Sampling the ocean's DNA,http://www.ted.com/talks/view/id/6,Genomics pioneer Craig Venter takes a break fr...,http://www.ted.com/talks/view/id/6/transcript?...,7,2005,TEDGlobal 2005,0:16:51,...,3.0,8.0,199.0,73.0,163.0,23.0,10.0,23.0,74.0,0.0
2,4,Burt Rutan,The real future of space exploration,http://www.ted.com/talks/view/id/4,"In this passionate talk, legendary spacecraft ...",http://www.ted.com/talks/view/id/4/transcript?...,2,2006,TED2006,0:19:37,...,77.0,70.0,337.0,501.0,247.0,23.0,115.0,202.0,63.0,47.0
3,3,Ashraf Ghani,How to rebuild a broken state,http://www.ted.com/talks/view/id/3,Ashraf Ghani's passionate and powerful 10-minu...,http://www.ted.com/talks/view/id/3/transcript?...,7,2005,TEDGlobal 2005,0:18:45,...,35.0,21.0,218.0,114.0,44.0,25.0,51.0,112.0,35.0,11.0
4,5,Chris Bangle,Great cars are great art,http://www.ted.com/talks/view/id/5,American designer Chris Bangle explains his ph...,http://www.ted.com/talks/view/id/5/transcript?...,2,2002,TED2002,0:20:04,...,81.0,100.0,88.0,163.0,76.0,32.0,64.0,28.0,9.0,45.0

### II-6(b)
With the data created in (a), find the `headline` of the talk that received the highest number of votes as *Confusing*.

*(5 points)*

In [238]:
print("The talk with most votes as 'confusing'=", tedtalks_data_with_votes.loc[tedtalks_data_with_votes.Confusing.argmax(),'headline'])

The talk with most votes as 'confusing'= I believe we evolved from aquatic apes

### II-6(c)
With the data created in (a), find the `headline` and the `year` of the talk that received the highest percentage of votes in the *Fascinating* category. 

$$\text{Percentage of } \textit{Fascinating} \text{ votes for a ted talk} = \frac{Number \ of \  votes \ in \ the \ category - \ Fascinating}{Total \ votes \ in \ all  \ categories}$$

*(10 points)*

In [237]:
tedtalks_data_with_votes['Total_votes'] = tedtalks_data_with_votes.iloc[:,16:].sum(axis=1)
tedtalks_data_with_votes['Fascinating_percent_votes'] = tedtalks_data_with_votes['Fascinating']/tedtalks_data_with_votes['Total_votes']
print("The talk with most percente votes as 'Fascinating':\n",tedtalks_data_with_votes.loc[tedtalks_data_with_votes.Fascinating_percent_votes.argmax(),['headline','year_filmed']])

The talk with most percente votes as 'Fascinating':
 headline       Could a Saturn moon harbor life?
year_filmed                                2009
Name: 443, dtype: object

# III

## III-1
Download the data set “univ.txt”. Read it with python.

*(2 points)*

In [206]:
univ_data = pd.read_csv('univ.txt',engine='python',sep='\t')

## III-2 
### III-2(a) 
Find summary statistics of the data. Based on the statistics, answer parts b-e.

*(1 point)*

In [207]:
univ_data.describe()

             Rank  Tuition and fees  Undergrad Enrollment
count  231.000000        231.000000            231.000000
mean   113.982684      33769.246753          14946.619048
std     65.995518      10756.733516          10569.664095
min      1.000000       5300.000000           1001.000000
25%     56.000000      25693.000000           6238.500000
50%    111.000000      31608.000000          12949.000000
75%    171.000000      42721.000000          22145.500000
max    220.000000      55056.000000          54513.000000

### III-2(b) 
How many universities are there in the data set?

*(2 points)*

There are 231 universities in the dataset.

### III-2(c) 
Estimate the maximum tuition among universities that are in the bottom 25% when ranked by total tuition and fees.

*(3 points)*

$25,693

### III-2(d) 
How many universities share the ranking of 220? (If `s` universities share the same rank, say `r`, then the next lower rank is `r+s`, and all the ranks in between `r` and `r+s` are dropped)

*(5 points)*

231-220+1 = 12

### III-2(e)
Can you find the mean fee for an undergrad student in the US from the summary statistics? Justify your answer.

*(3 points)*

No. All universities have a distinct number of students. The average fee for an undergrad student in US will be a weighted average of the 'Tuition and fees' column, where the weights are the undergrad enrollment in the respective university

## III-3	
Find the average `Tuition and fees` for an undergrad student in the US.

*(5 points)*

In [213]:
#Computing total tuition and fees for each university
univ_data['total_tuition_and_fees'] = univ_data['Tuition and fees']*univ_data['Undergrad Enrollment']
sum(univ_data['total_tuition_and_fees'])/sum(univ_data['Undergrad Enrollment'])

30845.32903298868

The average `Tuition and fees` for an undergrad student in the US is ~ $31k.